@model BWRecipeBook.Models.Recipe

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Recipe</h4>
<hr />
<div class="row">
    <div class="col-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="container-fluid">
                <div class="row row-cols-1 row-cols-sm-2">
                    <div class="col-12 order-last order-sm-first">
                        <div class="mb-3">
                            <img id="contactImage" style="object-fit: cover;" src="/img/DefaultRecipeImage.png" />
                        </div>
                        <div class="mb-3">
                            <input asp-for="ImageFile" class="form-control" accept=".png,.jpg,.jpeg,.gif" onchange="document.getElementById('contactImage').src= window.URL.createObjectURL(this.files[0])" />
                            <span asp-validation-for="ImageFile" class="text-danger"></span>
                        </div>
                        <div>
                            <a asp-action="Index" class="btn btn-primary">Back to List</a>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group mb-3">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="col-12 col-lg-6 mt-3">
                            <label asp-for="RecipeBookId" class="control-label"></label>
                            <select asp-for="RecipeBookId" class="form-control" asp-items="ViewBag.RecipeBooksList" name="Selected"></select>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
